* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #212529;
    --border-color: #666;
    --font-color: #f1f5f9;
    --primary-color: #4dff91;
    --error-color: #ff0043;
}

body {
    background-color: var(--border-color);
    color: var(--font-color);
    font-family: "Ubunto", sans-serif ;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 40 rem;
    padding: 0 1.5rem 2.5rem;
    position: relative;
}

header {
    padding: 2rem 0;
}

#themeSwicher:hover {
    background-color: var(--font-color);
    color: var(--bg-color);
}